{% extends 'resist/base.html' %}

{% block content %}
  <form id="my-form" method="post">
    {% csrf_token %}
  </form>
  <div id="description" style="height: auto;">
      <h1 class="open-primary">
        <strong>Resist</strong>
      </h1>
  </div>
  <div id="content" style="height: auto;">
      <p>What do you want to do?</p>
  </div>
  <div id="options" class="scroll bottom override top" style="height: auto;">
    <div class="option">
      <div id="choice-1" class="choice" onclick="activateChoice('choice-1')">
        <div class="vote"></div>
        <div class="desc">
          <p class="candidate">Create or Manage an Election</p>
        </div>
      </div>
    </div>
    <div class="option">
      <div id="choice-2" class="choice" onclick="activateChoice('choice-2')">
        <div class="vote"></div>
        <div class="desc">
          <p class="candidate">Register to participate in an Election</p>
        </div>
      </div>
    </div>
    <div class="option">
      <div id="choice-3" class="choice" onclick="activateChoice('choice-3')">
        <div class="vote"></div>
        <div class="desc">
          <p class="candidate">Check the Bulletin for an Election</p>
        </div>
      </div>
    </div>
    <div class="option">
      <div id="choice-4" class="choice" onclick="activateChoice('choice-4')">
        <div class="vote"></div>
        <div class="desc">
          <p class="candidate">Audit a Ballot or Cast a Vote</p>
        </div>
      </div>
    <div>
  </div>
    <script>
      function activateChoice(choice) {
        if (document.getElementById(choice).classList.contains("active")) {
          document.getElementById(choice).classList.remove("active");
        } else if(document.getElementsByClassName("active")[0]) {
          alert("Uncheck the one you don't want. Then choose the one you want.");
        } else {
          document.getElementById(choice).classList.add("active");
        }
      }
    </script>

{% endblock %}

{% block footer %}
  <input id="button-begin" type="button" class="onscreen double green" style = "display: block;" value="Proceed" onclick = "proceed()" />
  <script>
    function proceed(){
      activeChoice = document.getElementsByClassName("active")[0].id;
      console.log(activeChoice);
      if(activeChoice === "choice-1") {
        url = "{{loginUrl}}";
      } else if (activeChoice === "choice-2") {
        url = "{{loginUrl}}";
      } else if (activeChoice === "choice-3") {
        url = "{% url 'bulletin:check' %}";
      } else if (activeChoice === "choice-4") {
        url = "{% url 'booth:index' %}";
      }
      document.getElementById("my-form").action = url;
      document.getElementById("my-form").submit();
    }
  </script>
{% endblock %}

