
{% extends 'booth/base.html' %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'booth/js/createDownload.js' %}"></script>
    <script type="text/javascript">
    window.onload = function() {
        console.log("credential:")
        console.log({{credential | safe}})
        console.log("fake_credential_shares:")
        console.log({{fake_credential_shares | safe}})
        console.log("fake_credentials:")
        console.log({{fake_credentials | safe}})
        console.log("encrypted_fake_credentials:")
        console.log({{encrypted_fake_credentials | safe}})
    }
    </script>
{% endblock %}

{% block header %}

    <a id="button-review" type="button" class="button green review" href = "{% url 'logout' %}" style="display: inline-block;">Logout</a>

{% endblock %}

{% block content %}
    <div id="description" style="height: auto;">
        <h1><strong>Resist</strong></h1>
        <div class = "options">
            <div class = "option">
            <p> Please click below to download your credential:</p>
	        <a id="credentialDownload" type="button" class ="button accept green long"  style="display:inline-block;" download = "credential.json" onclick = "createDownload('credentialDownload', {{credential | safe}});"><p>Download Credential</p></a>
            </div>
            {% for fake_credential in fake_credentials %}
                <div class="option">
                    <p>Please click here to download fake credential:</p>
                    <a id="{{ forloop.counter0 }}" type="button" class ="button accept green long"  style="display:inline-block;" download = "credential.json" onclick = "createDownload('{{forloop.counter0}}', {{fake_credential | safe}});"><p>Download Credential</p></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
