{% extends 'booth/base.html' %}

{% block content %}

  <div id="description" style="height: auto;">
      <h1><strong>Resist</strong></h1>
        <form id="go_to_election" method="post" action="{% url 'booth:vote' %}">
            {% csrf_token %}
            <p>List of Active Elections</p>
            <ul>
                {% for election in elections %}
                    <li>
                        <input type="hidden" name="election_id" value={{election.election_uuid}} />
                        <a onclick="document.getElementById('go_to_election').submit(); return false;">{{election.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </form>
{% endblock %}