{% extends 'booth/base.html' %}


{% block header %}

    <a id="button-review" type="button" class="button green review" href = "{% url 'logout' %}" style="display: inline-block;">Logout</a>

{% endblock %}


{% block content %}

  <div id="description" style="height: auto;">
      <h1><strong>Resist</strong></h1>
        <form id="go_to_election" method="post" action="{% url 'booth:register' %}">
            {% csrf_token %}
            <p>List of Elections Available for Registration</p>
            <ul>
                {% for election in elections %}
                    {% if election.registration_frozen == False %}
                    <li>
                        <input type="hidden" name="election_uuid" value= {{ election.election_uuid }} />
                        <a onclick="document.getElementById('go_to_election').submit(); return false;">{{election.name}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </form>
{% endblock %}