{% extends 'booth/base.html' %}
{% load static %}
{% block scripts %}
<!-- Crypto JS -->
<script type="text/javascript" src="{% static 'booth/jscrypto/sodium.js' %}"></script>
<script type="text/javascript" src="{% static 'booth/jscrypto/BigInteger.min.js' %}"></script>
<script type="text/javascript" src="{% static 'booth/jscrypto/electionAlgorithms.js' %}"></script>
<script type="text/javascript" src="{% static 'booth/jscrypto/encryptBallot.js' %}"></script>

<!-- Front-end JS -->
<script type="text/javascript" src="{% static 'booth/js/createPlaintextBallot.js' %}"></script>
<script type="text/javascript" src="{% static 'booth/js/displayMetadata.js' %}"></script>
<script type="text/javascript" src="{% static 'booth/js/displayBallot.js' %}"></script>
<script type = "text/javascript">
  window.onload = function() {
    displayMetadata({{ ballot | safe }});
  }
</script>
{% endblock %}

{% block content %}

    <div id="description" style="height: auto;">
    </div>

{% endblock %}