{% extends 'supervisor/base.html' %}

{% block content %}

  <div id="description" style="height: auto;">
      <h1><strong>Resist</strong></h1>
        <form id="go_to_election" method="post" action="{% url 'supervisor:electionactions' %}">
            {% csrf_token %}
            <p>List of Active Elections</p>
            <ul>
                {% for election in elections %}
                    {% if election.results_released == False %}
                    <li>
                        <input type="hidden" name="election_id" value={{election.election_uuid}} />
                        <a onclick="document.getElementById('go_to_election').submit(); return false;">{{election.name}}</a>
                    </li>
                    {% else %}
                    <p>No active elections</p>
                    {% endif %}
                {% endfor %}
            </ul>
            <p>List of Frozen Elections</p>
            <ul>
                {% for election in elections %}
                    {% if election.results_released == True %}
                    <li>
                        <input type="hidden" name="election_id" value={{election.election_uuid}} />
                        <a onclick="document.getElementById('go_to_election').submit(); return false;">{{election.name}}</a>
                    </li>
                    {% else %}
                    <p>No inactive elections</p>
                    {% endif %}
                {% endfor %}
            </ul>
        </form>
{% endblock %}