{% extends 'supervisor/base.html' %}
{% load static%}
{% block scripts %}

    <script type="text/javascript" src="{% static 'supervisor/js/createDownload.js' %}"></script>
    <script type = "text/javascript">
        window.onload = function() {
            createDownload({{ public_key | safe }});
        }
    </script>

{% endblock %}

{% block content %}

    <h1><strong>Resist</strong></h1>
    {% if public_key %}
        <p>The election public key has been generated. Click the button below to download the public key.</p>
    {% else %}
        <p>Click the button below to generate a public key for this election.</p>
    {% endif %}

{% endblock %}

{% block footer %}

    <a id="publicKeyDownload" type="button" class="button accept green long" value="Download Public Key" style="display:block;"></a>

{% endblock %}