{% extends 'supervisor/base.html' %}
{% load static%}

{% block content %}

    <h1><strong>Resist</strong></h1>
    {% if keys_generated == True %}
        <p>Keys for registration tellers have been generated.</p>
    {% else %}
        <p>Generating registration keys</p>
    {% endif %}

{% endblock %}

