{% extends 'register/base.html' %}
{% block content %}

  <div id="description">
    <h1><strong>Resist</strong></h1>
    <form id="keyForm" method="post">
      {% csrf_token %}
      <div id="content" style="height: auto;">
          <p>Please enter your authentication key</p>
      </div>
      <div id="options" class="scroll bottom override top" style="height: auto;">
        <div id="write-options">
          <div class="write-option">
            <div class="write-choice">
                <input type="text" name="authentication" value=""/>
            </div>
          </div>
      </div>
      <div id="content" style="height: auto;">
          <p>Please enter your designation key</p>
      </div>
      <div id="options" class="scroll bottom override top" style="height: auto;">
        <div id="write-options">
          <div class="write-option">
            <div class="write-choice">
                <input type="text" name="designation" value=""/>
            </div>
          </div>
      </div>
      <input type="hidden" name="election_id" value="{{ election.uuid }}" />
    </form>
  </div>

{% endblock %}

{% block footer %}

    <input id="button-next" type="button" class="button block next green" value="Register" style="display: block;" onclick=beginRegistration() />

{% endblock %}