{% extends 'tabulation/base.html' %}

{% block content %}

    <div id="description" style="height: auto;">
        <h1><strong>Tabulation</strong></h1>
        <h1>Election ID: {{ electionID }}<h1>
        <h1>Tabulation Teller ID: {{ tabulationID }}</h1>
        <p>{{ error_message }}</p>
    </div>

{% endblock %}
