{% extends 'tabulation/base.html' %}
{% load static %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'tabulation/js/recordPrivateKey.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="description" style="height: auto;">
      <h1 class="open-primary">
        <strong>Resist</strong>
      </h1>
  </div>
  <div id="content" style="height: auto;">
      <p>Please enter your private key share</p>
  </div>
  <form id="keyForm" method="post">
    {% csrf_token %}
    <div id="options" class="scroll bottom override top" style="height: auto;">
      <div id="write-options">
        <div class="write-option">
          <div class="write-choice">
              <input type="text" name="privateKey" value=""/>
              <input type="hidden" name="electionID" value="{{ electionID }}" />
              <input type="hidden" name="tabulationID" value="{{ tabulationID }}" />
          </div>
        </div>
    </div>
  </form>

{% endblock %}

{% block footer %}

    <input id="button-next" type="button" class="button block next green" value="Perform Partial Tally" style="display: block;" onclick=recordPrivateKey() />

{% endblock %}