{% extends 'registration/base.html' %}

{% block content %}

<div id="description" style="height: auto;">
    {% if form.errors %}
    <p>There's something wrong with what you entered!</p>
    {% endif %}

    {% if next %}
    <p>Hey, you can't access that page.</p>
    {% endif %}

    <form method="post" id = "loginForm" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <input type="hidden" name="next" value="{{ next }}">
    </form>

</div>
{% endblock %}

{% block footer %}

    <input id="button-begin" type="button" class="onscreen double green" value="Login" style="display: inline-block;"  onclick = "document.getElementById('loginForm').submit();" }/>

{% endblock %}