{% extends 'registration/base.html' %}

{% block content %}

<div id = "description" style = "height: auto;">
    <h1><strong>Registration Page</strong></h1>
    <form method = "post" action = "{% url 'users:registeruser' %}">
        {% csrf_token %}
    {% if form.errors %}
        <p>There's something wrong with what you entered!</p>
    {% endif %}

    {{ form }}

    <input type="submit" value="Register">
    </form>
</div>

{% endblock %}