{% extends 'users/base.html' %}

{% block content %}

<div id="description" style="height: auto;">
      <h1><strong>Resist</strong></h1>
      <h2>This is the index page.</h2>
      {% if user.is_authenticated %}
            <h2>Your name is {{ user.username }}</h2>
      {% else %}
            <h2>You aren't logged in</h2>
      {% endif %}
</div>

{% endblock %}